<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><b>Game</b> Assist - Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://cdn3.iconfinder.com/data/icons/chart-diagram/64/statistics_horizontal_comparison-512.png">
  <ion-card-header>
    <ion-card-subtitle>Analytics</ion-card-subtitle>
    <ion-card-title>Your statistics will be displayed here.</ion-card-title>
  </ion-card-header>
</ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" size="large" color="success" fill="outline" [routerLink]="['/home']">Go back</ion-button>
  </ion-toolbar>
</ion-footer>
