<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><b>Game</b> Assist - Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="block" size="large" color="primary" fill="outline" (click)='presentToast()'>Save settings</ion-button>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" size="large" color="success" fill="outline" [routerLink]="['/home']">Go back</ion-button>
  </ion-toolbar>
</ion-footer>
