<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><b>Game</b> Assist - Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-toggle slot="end" color="{{entry.color}}" [(ngModel)]="entry.checked"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button expand="block" size="large" color="dark" (click)="presentToast()" [routerLink]="['/home']">Save settings</ion-button>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" size="large" color="dark" fill="outline" [routerLink]="['/home']">Go back</ion-button>
  </ion-toolbar>
</ion-footer>
