<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><b>Game</b> Assist - Settings</ion-title>
  </ion-toolbar>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>



</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" size="large" color="success" fill="outline" href="home">Go back</ion-button>
  </ion-toolbar>
</ion-footer>
